<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Шрифты сайта -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;700&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Стили проекта -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Site</title>
</head>

<body class="d-flex flex-column">
<div class="content flex-grow-1">
    <div class="bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/index/"><img src="../static/img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Обо мне</a>
                        <a class="nav-item nav-link" href="/blog/">Блог</a>
                        <a class="nav-item nav-link" href="/contacts/">Контакты</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-column justify-content-center top-content">
                        <h1>Привет!</h1>
                        <h1>Меня зовут</h1>
                        <h1 class="top__heading">Матвей</h1>
                        <p class="top__text">Добро пожаловать на мою страницу</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="about pt-3 pb-3" id="about">
        <div class="container">
            <div class="row about d-flex justify-content-center align-items-center">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img class="w-75" src="../static/img/about-photo.png" alt="my photo">
                </div>
                <div class="col-md-5">
                    <h2 class="heading">Еще раз привет!</h2>
                    <p class="text">Я начинающий разработчик на Python и это мой первый сайт. Я живу и учусь в
                        Москве,
                        в свободное время играю в компьютерные игры и гуляю с друзьями.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container why">
        <h2 class="heading text-center mb-3">Почему мне нравится<br>программировать?</h2>
        <div class="row pt-5">
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="static/img/blog-1.svg" alt="photo">
                    <div class="card-box p-4">
                        <p class="card-text">С помощью программирования я могу создавать полезные сайты и делать мир
                            удобнее.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="../static/img/blog-2.svg" alt="photo">
                    <div class="card-box p-4">
                        <p class="card-text">В программировании много интересных задач, никогда не соскучишься!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="../static/img/blog-3.svg" alt="photo">
                    <div class="card-box p-4">
                        <p class="card-text">В программировании ты сразу видишь результат своих усилий.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container d-flex justify-content-between flex-wrap">
        <img src="../static/img/logo.svg" alt="logo">
        <div class="icons">
            <a href="#"><img src="../static/img/vk.svg" alt="vk"></a>
            <a href="#"><img src="../static/img/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="../static/img/instagram.svg" alt="instagram"></a>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
</body>

</html>